.sub-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hello{
    display: flex;
    align-self: center;
    width: 60%;
}

.hello h2{
    font-size: 40px;
    color: whitesmoke;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-button button{
    border-style: none;
    background-color: rgb(38, 48, 54);
    border:rgb(3, 188, 235) 1px solid ;
    width: 50%;
    color: rgb(3, 188, 235);
    font-weight: 700;
    letter-spacing: 5px;
}

.container-button button:hover{
    background-color: rgb(3, 188, 235);
    color: rgb(38, 48, 54);
    border:rgb(38, 48, 54) 1px solid;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;
    width: 60%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border:  rgb(3, 188, 235) 2px solid ;
}

.col-1{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    border-right:  rgb(3, 188, 235) 1px solid ;
    width: 50%;
}

.col-2{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

.attributes{
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.attributes h4{
    color: whitesmoke;
    padding-bottom: 5px;
    font-size: 20px;
    font-size: 20px;
}

.none{
    display: none;
}

.error{
    display: flex;
    color: red;
}




@media(max-width: 1018px) {
    .container{
        flex-direction: column;
    }

    .col-1{
        border-right: none;
        width: 100%;
    }
    .col-2{
        width: 100%;
    }
}

@media(max-width: 850px) {
    .container{
        width: 70%;
    }
    .hello{
        width: 70%;
    }
}

@media(max-width: 600px) {
    .container{
        width: 95%;
    }
    .hello{
        width: 95%;
    }
}
