.sub-center{
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;
    width: 60%;
    padding: 20px;
    margin: 30px;
    border:  rgb(3, 188, 235) 2px solid ;
}

.col-1{
    display: flex;
    flex-direction: column;
    flex: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-right:  rgb(3, 188, 235) 1px solid ;
}

.col-2{
    display: flex;
    flex-direction: column;
    flex: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.attributes{
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 5px;
}

.attributes h4{
    color: whitesmoke;
    padding-bottom: 2px;
    font-size: 20px;
    
}

